/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/frontend/node_modules
/resources/frontend/dist
.env
.phpstorm.meta.php
_ide_helper.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
