@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~select2/dist/css/select2.css";
@import "~icheck/skins/flat/orange.css";
@import "~daterangepicker/daterangepicker.css";
// AdminLTE
@import "~admin-lte/dist/css/AdminLTE.css";
@import "~admin-lte/dist/css/skins/skin-yellow.css";

*[data-href] {
    cursor: pointer;
}

.content-wrapper {
    min-height: 1000px;

    & .content-header {
        & .breadcrumb {
            position: initial;
            float: left;
            margin-bottom: 10px;
        }
    }

    & .content {
        margin-top: 30px;
    }
}

