meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title #{title}

meta(name="theme-color", content="#ef871c")
meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="address=no")
meta(name="imagetoolbar" content="no")
meta(name="msthemecompatible" content="no")
meta(name="cleartype" content="on")
meta(name="HandheldFriendly" content="True")
meta(property="og:type" content="")
meta(property="og:url" content="")
meta(property="og:title" content="")
meta(property="og:description" content="")
meta(property="og:image" content="")
meta(name="robots" content="index, follow")
meta(name="keywords" content="Страховая компания, страховые услуги, страхование, купить страховку, услуги страхования")
meta(name="description" content="СК «Согласие»: услуги страхования для частных и юридических  лиц по всей России. Автострахование (КАСКО, ОСАГО), страхование туристов, ДМС, страхование от несчастных случаев, защита недвижимости и имущества  граждан и предприятий. Поддержка онлайн - заявок на страхование.")
meta(name="yandex-verification" property="og:soglasie.ru" content="72a7cd049fd64e87")
meta(name="google-site-verification" property="og:soglasie.ru" content="lIEDIEeZji7uiG8EbaTP6-LH_hIE1DY9hCdHwXkkeu8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

link(rel="shortcut icon" href="./img/favicons/favicon.ico" type="image/x-icon")
link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon.png")
link(rel="apple-touch-icon" sizes="57x57" href="./img/favicons/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon" sizes="72x72" href="./img/favicons/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="./img/favicons/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="./img/favicons/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="./img/favicons/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="./img/favicons/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="./img/favicons/apple-touch-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon-180x180.png")
link(rel="stylesheet" href="./styles/main.css")
